/* index.css */

@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    font-family: var(--font-family);
}

/* Estilos generales de los enlaces para quitar decoraciones, más bien el subrayado */
a {    
    text-decoration: none;
}

#root {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    width: 100%;
    height: 238px;
    background-color: var(--black-27); 
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    padding: 30px 90px;
}

.footer > div {
    display: flex;
    flex-direction: column;
}

.footer .title_footer {
    margin-top: 27px;
}

.footer p {
    font-weight: bold;
    margin-bottom: 7px; 
    color: var(--primary);
}

.footer a {
    color: var(--white-48);
    text-decoration: underline;
    margin-bottom: 7px;
    transition: all .3s ease-in-out
}

.footer a:hover {
    color: var(--white)
}

@media (width <= 1040px) {
    /* Aqui pones el responsive del footer que seria que todo el footer sea column en lugar de row */
}


