/* index.css */

@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    font-family: var(--font-family);
    user-select: none;
}

/* Estilos generales de los enlaces para quitar decoraciones, m치s bien el subrayado */
a {
    text-decoration: none;
    color: var(--white);
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#root {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--gray-secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

/* HEADER */

.header {
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
}

.header_temp {
    width: 160px;
    height: 70px;
    background-color: grey;
    border-radius: 20px;
}

.header_nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_nav_search {
    width: 478px;
    height: 50px;
    background-color: var(--black-31);
    border-radius: 10px;
    position: relative;
    margin-bottom: 17px;
}

.header_nav_search input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 60px 10px 10px;
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
}

.header_nav_search input::placeholder {
    color: var(--white-23);
}

.header_nav_btnSearch {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    color: var(--white);
}

.header_nav_btnSearch:hover,
.header_nav_btnSearch:active {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.header_nav_filters {
    width: 478px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav_filters a {
    color: var(--primary);
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.header_nav_filters a:hover {
    color: var(--primary-hover);
}

.header_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.header_btns a {
    height: 50px;
    font-size: 16PX;
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_btns_btn_login {
    width: 120px;
    background-color: var(--black-14);
}

.header_btns_btn_login:hover {
    background-color: var(--black-27);
}

.header_btns_btn_create {
    width: 140px;
    background-color: var(--primary);
}

.header_btns_btn_create:hover {
    background-color: var(--primary-hover);
}

.header_btns_user {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.header_btns_user a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.header_btns_user_btn {
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    border: none;
    outline: none;
    border-radius: 10px;
}

.header_btns_user_btn:hover {
    background-color: var(--primary-hover);
}

.header_btns_user_img {
    border-radius: 50%;
    position: relative;
}

.header_btns_user_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.header_nav_user_state {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    height: 15px;
    border-radius: 100%;
}

.header_nav_user_state.online {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
}

.header_nav_user_state.offline {
    background-color: var(--gray);
    border: 2px solid var(--gray-secondary);
}

.header_btns_user_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--gray);
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    border-radius: 10px;
    color: var(--white);
}

.header_btns_user_menu:hover {
    background-color: var(--gray-secondary);
}

.header_btns_user_menu:active {
    border: 4px solid var(--gray);
}

/* MENU LATERAL */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 10px;
    margin: 0;
    z-index: 999;
    transform: translateX(-100%);
}

.menu.show {
    animation: show .3s forwards;
}

.menu.hidden {
    animation: hidden .3s forwards;
}

.menu>button {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--gray);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    outline: none;
    background-color: transparent;
    color: var(--white);
    cursor: pointer;
}

.menu>button:hover {
    background-color: var(--gray-secondary);
}

.menu>button:active {
    border: 4px solid var(--gray-secondary);
}

.header_menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_menu_search {
    min-width: 100%;
    height: 70px;
    background-color: var(--black-31);
    border-radius: 10px;
    position: relative;
    margin-bottom: 17px;
}

.header_menu_search input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 90px 10px 20px;
    background-color: transparent;
    color: var(--white);
    font-size: 16px;
}

.header_menu_search input::placeholder {
    color: var(--white-23);
}

.header_menu_btnSearch {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    color: var(--white);
}

.header_menu_btnSearch:hover,
.header_menu_btnSearch:active {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.header_menu_filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 15px;
}

.header_menu_filters a {
    width: 100%;
    height: 100%;
    background-color: var(--black-14);
    padding: 20px 15px;
    font-size: 20px;
    color: var(--white);
    opacity: .5;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.header_menu_filters a:hover {
    background-color: var(--primary);
    opacity: 1;
}

.header_menu_filters a:active {
    background-color: var(--primary);
    opacity: 1;
}

/* SECTION HOME */

#home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    padding: 0 60px;
}

/* USERS */
.container_users_list {
    max-width: 1340px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    background-color: var(--black-27);
    border-radius: 20px;
    padding: 10px 15px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.title_users_list {
    font-size: 12px;
    color: var(--primary);
    margin-bottom: 10px;
    font-weight: 500;
}

.users_list {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 5px;
    scroll-snap-type: x mandatory;
}

.users_list::-webkit-scrollbar {
    height: 5px;
    background-color: var(--gray-secondary);
    border-radius: 10px;
}

.users_list::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

.user {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: opacity .5s ease;
    cursor: pointer;
}

.user:not(:hover) {
    opacity: .5;
}

.user img {
    width: auto;
    height: 100%;
    opacity: .7;
    border-radius: 100%;
}

.user span {
    width: 10px;
    height: 10px;
}
/* FOOTER */


/* Estilos para el footer */
.footer {
    width: 100%;
    background-color: var(--black-27);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 15px;
}

.footer>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}

.footer .title_footer {
    margin-top: 15px;
}

.footer p {
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--primary);
    text-align: center;
    /* Centra el texto horizontalmente */
}

.footer a {
    color: var(--white-48);
    text-decoration: underline;
    margin-bottom: 7px;
    transition: all .3s ease-in-out;
    text-align: center;
    /* Centra el texto horizontalmente */
}

.footer a:hover {
    color: var(--white);
}

/* LOGIN */

.container_login {
    /* Container principal del login */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    /* Login como tal */
    margin: 50px auto 100px;
    width: 514px;
    height: 455px;
    max-width: 514px;
    min-width: 200px;
    padding: 20px;
    background-color: var(--black-27);
    border-radius: 20px;
    box-shadow: 10px 10px 14px var(--black-27);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    /* titulo */
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 60px;
    color: var(--primary);
}

.form_input {
    /* Contenedor de cada input */
    width: 340px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-22);
    border-radius: 10px;
    padding: 5px 0;
    border: 1px solid var(--border-input);
}

.form_input_icon {
    /* Icono del input */
    width: 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    /* Valores por defecto del input */
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    color: var(--white);
}

.input:not(.password) {
    /* Tama침o del input cuando no tenga la clase password */
    width: calc(100% - 34px);
}

.input::placeholder {
    /* Color del placeholder del input (las letras que aparecen cuando uno no escribe) */
    color: var(--white-23);
}

.input.password {
    /* Tama침o del input cuando tiene la clase password */
    width: calc(100% - 68px);
}

.form_input_user {
    /* Margin bottom al primer contenedor del input */
    margin-bottom: 20px;
}

.icon {
    fill: var(--primary);
    width: 17px;
    height: 17px;
}

.show_pass .icon:hover {
    fill: var(--primary-hover);
}

.show_pass .icon {
    cursor: pointer;
    transition: all .3s ease-in-out;
}

#forgot_password {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 5px;
    margin-bottom: 45px;
}

#forgot_password a {
    font-size: 1rem;
    color: var(--primary);

}

#forgot_password a:hover,
#forgot_password a:active {
    text-decoration: underline;
}

.btn {
    /* Valores por defecto del boton de entrar */
    border: none;
    outline: none;
    padding: 15px 70px;
    border-radius: 10px;
    font-size: 16px;
    transition: background .3s ease-in-out;
}

.btn_primary {
    /* Se cambia el color y el fondo al boton de entrar */
    background-color: var(--primary);
    color: var(--white);
}

.btn_primary:not(:disabled):hover,
.btn_primary:not(:disabled):active {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.not_account {
    /* Texto debajo del bot칩n */
    color: var(--primary);
    font-size: 14px;
    margin-top: 8px;
}

#signup_link {
    /* Enlace de registro */
    color: var(--white-56);
    font-size: 14px;
    margin-left: 5px;
}

#signup_link:hover {
    text-decoration: underline;
}

.error {
    border: 1px solid red;
}

.check {
    border: 1px solid green;
}

/*  ANIMACIONES DE MENU LATERAL */

@keyframes show {
    to {
        transform: translateX(0%);
    }
}

@keyframes hidden {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1040px) {

    .header_nav_search,
    .header_nav_filters {
        display: none;
    }

    .header_btns a,
    .header_btns_user_menu {
        display: flex;
    }

    #home {
        padding: 10px;
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 15px;
    }

    .header_temp {
        width: 100px;
    }

    .header_nav_search {
        display: none;
    }

    .header_btns_btn_login,
    .header_btns_btn_create {
        width: fit-content;
        padding-inline: 15px;
    }

    .footer {
        height: auto;
        padding: 30px 10px;
        flex-direction: column;
        align-items: center;
    }

    .footer>div {
        margin-bottom: 30px;
        align-items: center;
        text-align: center;
    }

    .login {
        padding: 10px;
        box-shadow: none;
    }
}

@media screen and (max-width: 550px) {
    .login {

        border-radius: 0;
    }
}