@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--background-color);
    font-family: var(--font-family);
    user-select: none;
}

#root {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-scrollbar {
    width: 7px;
    background-color: var(--gray-secondary);
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    position: relative;
}

a {
    text-decoration: none;
    color: var(--white);
}

/* ESTILOS GENERALES PARA BOTONES */

.btn {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    transition: all .3s ease-in-out;
}

.btn_primary {
    background-color: var(--primary);
    color: var(--white);
}

.btn_secondary {
    background-color: var(--primary-100);
    color: var(--primary);
}

.btn_primary:not(:disabled):hover,
.btn_primary:not(:disabled):active {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.btn_secondary:not(:disabled):hover,
.btn_secondary:not(:disabled):active {
    background-color: var(--primary-200);
    cursor: pointer;
}

/* HEADER */

.header {
    max-width: var(--max-width);
    width: 100%;
    min-height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

.header_temp {
    width: 160px;
    height: 70px;
    background-color: grey;
    border-radius: 20px;
}

.header_nav {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_nav_search {
    width: 478px;
    height: 50px;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    margin-bottom: 17px;
}

.header_nav_search input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 60px 10px 10px;
    background-color: transparent;
    color: var(--black);
    font-size: 16px;
}

.header_nav_search input::placeholder {
    color: var(--black-27);
}

.header_nav_btnSearch {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    color: var(--white);
}

.header_nav_btnSearch:hover,
.header_nav_btnSearch:active {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.header_nav_filters {
    width: 478px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_filter {
    color: var(--primary);
    font-weight: 600;
    transition: all .3s ease-in-out;
}

.nav_filter:hover {
    color: var(--primary-hover);
}

.header_btns {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.header_btns a {
    height: 50px;
    font-size: 16PX;
    border: none;
    outline: none;
    /* color: var(--white); */
    border-radius: 10px;
    transition: all .3s ease-in-out;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_btns_btn_login {
    width: 120px;
    background-color: var(--white);
    color: var(--black);
}

.header_btns_btn_login:hover {
    background-color: var(--black-14);
}

.header_btns_btn_create {
    width: 140px;
    text-align: center;
    background-color: var(--primary);
}

.header_btns_btn_create:hover {
    background-color: var(--primary-hover);
}

.header_btns_user {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.header_btns_user a,
#toggleMenu {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

#toggleMenu:hover,
#toggleMenu:active {
    cursor: pointer;
}

.header_btns_user_btn {
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    border: none;
    outline: none;
    border-radius: 10px;
}

.icon_notifications {
    position: relative;
}

.notification {
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid var(--black);
    background-color: var(--background-log-out);
}

.header_btns_user_btn:hover {
    background-color: var(--primary-hover);
}

.header_btns_user_img {
    border-radius: 50%;
}

.header_btns_user_img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.header_btns_user_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary);
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    border-radius: 10px;
    color: var(--primary);
}

.header_btns_user_menu:hover {
    background-color: var(--primary-100);
}

.header_btns_user_menu:active {
    border: 4px solid var(--primary-100);
}

.header_icon {
    fill: var(--white);
}

/* MENU LATERAL */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 10px;
    margin: 0;
    z-index: 999;
    transform: translateX(-100%);
}

.menu.show {
    animation: show .3s forwards;
}

.menu.hidden {
    animation: hidden .3s forwards;
}

.menu .header_btns_user_menu {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--primary);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    outline: none;
    background-color: transparent;
    color: var(--primary);
    cursor: pointer;
}

.menu>button:hover {
    background-color: var(--primary-100);
}

.menu>button:active {
    border: 4px solid var(--primary-100);
}

.header_menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header_menu_search {
    min-width: 100%;
    height: 70px;
    background-color: var(--white);
    border-radius: 10px;
    position: relative;
    margin-bottom: 17px;
}

.header_menu_search input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px 90px 10px 20px;
    background-color: transparent;
    color: var(--black);
    font-size: 16px;
}

.header_menu_search input::placeholder {
    color: var(--black-27);
}

.header_menu_btnSearch {
    position: absolute;
    top: 0;
    right: 0;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: var(--primary);
    transition: all .3s ease-in-out;
    color: var(--white);
}

.header_menu_btnSearch:hover,
.header_menu_btnSearch:active {
    background-color: var(--primary-hover);
    cursor: pointer;
}

.header_menu_filters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    row-gap: 15px;
}

.header_menu_filters a {
    width: 100%;
    height: 100%;
    background-color: var(--primary-100);
    padding: 20px 15px;
    font-size: 20px;
    color: var(--primary);
    border-radius: 10px;
    transition: all .3s ease-in-out;
    border: 1px solid var(--primary-200);
}

.header_menu_filters a:hover,
.header_menu_filters a:active {
    background-color: var(--primary);
    color: var(--white);
}

/* SECTION HOME */

#home {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin: 60px 0;
    padding: 0 20px;
}


/* PAGE PRODUCTS */

#products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    align-items: center;
    gap: 25px;
}

/* CARD PRODUCT */

.card_product {
    width: 100%;
    min-width: 250px;
    max-width: 350px;
    height: auto;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    padding-bottom: 10px;
    box-shadow: 5px 5px 10px var(--black-14);
    overflow: hidden;
    transition: all .3s ease-in-out;
    color: var(--black);
    border-radius: 6px;
}

.card_product:hover,
.card_product:active { 
    background-color: var(--white-235);
}

.card_product_stars {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.87);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    border-radius: 6px;
    column-gap: 3px;
}

.card_product_img {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    transition: transform .3s ease-in-out;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.card_product_price_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.card_product_details_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    padding: 0 10px;
}

.card_product_title {
    font-size: 20px;
}

.card_product_description {
    font-size: 14px;
    text-wrap: pretty;
}

.card_product_tag {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 6px;
    background-color: rgba(255, 0, 0, 0.74);
}

.card_product_tag .star_icon {
    width: 14px;
    height: 14px;
    stroke: white;
    fill: none;
}

/* FORM */

.container_form_general {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_form {
    margin: 50px auto 100px;
    min-width: 200px;
    padding: 20px;
    background-color: var(--black-27);
    border-radius: 20px;
    box-shadow: 0 0 14px var(--black-27);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#login-signup-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_icon {
    stroke: var(--primary);
}

.title_form {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 60px;
    color: var(--primary);
}

.form_input {
    max-width: 340px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-22);
    border-radius: 10px;
    padding: 5px 0;
    border: 1px solid var(--border-input);
}

.form_input_icon {
    width: 34px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    color: var(--white);
}

.input:not(.password) {
    width: calc(100% - 34px);
}

.input::placeholder {
    color: var(--white-23);
}

.input.password {
    width: calc(100% - 68px);
}

.form_input_user {
    margin-bottom: 20px;
}

.icon {
    stroke: var(--primary);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.icon:hover {
    stroke: var(--primary-hover);
}

.form_link_question {
    color: var(--primary);
    font-size: 14px;
    margin-top: 8px;
}

#form_link_account {
    color: var(--white-56);
    font-size: 14px;
    margin-left: 5px;
}

#form_link_account:hover {
    text-decoration: underline;
}

/* LOGIN */

.login {
    width: 514px;
    height: 455px;
    max-width: 514px;
}

.login .btn {
    width: 200px;
}

#forgot_password {
    max-width: 340px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5px;
    margin-bottom: 45px;
}

.forgot_password_link {
    font-size: 1rem;
    color: var(--primary);

}

.forgot_password_link:hover,
.forgot_password_link:active {
    text-decoration: underline;
}

/* REGISTRO */

.signup {
    width: 634px;
    height: auto;
    max-width: 634px;
}

.signup .btn {
    width: 180px;
    margin-top: 35px;
}

.container_inputs_signup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

/* DETALLES DEL PRODUCTO */

#details {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 0;
    padding: 0 20px;
}

.details_movile {
    display: none;
    color: var(--black);
}

.details_gallery {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery_box {
    max-width: 450px;
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.swiper {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--white);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    color: var(--primary-hover);
}

.details_info_box {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_box {
    width: 450px;
    height: auto;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--black-14);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 20px;
    color: var(--black);
}

.details_container_stars {
    height: 15px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.details_title {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    text-wrap: pretty;
    color: var(--black);
}

.details_description {
    font-size: 14px;
    color: var(--black-80);
    text-wrap: pretty;
    margin-bottom: 30px;
}

.details_price {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.details_container_quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
    column-gap: 5px;
}

.details_container_quantity small {
    color: var(--black-50);
}

#quantity {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--black);
    font-size: 16px;
}

#quantity option {
    background-color: var(--background-color);
}

.details_container_buttons {
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.details_btn_buy {
    width: 100%;
    font-size: 16px;
}

.details_btn_cart {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* PRODUCTS USER */

#products_user {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    padding: 0 20px;
}

/* ERROR PAGE */

#error_page {
    width: 100%;
    max-width: var(--max-width);
    margin: 50px auto;
    padding: 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container_error_page {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

.container_error_page div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18rem;
    font-weight: 900;
    color: var(--black-14);
    z-index: -1;
    overflow: hidden;
}

.description_error_page {
    font-size: 16px;
}

.btn_home_error_page {
    color: var(--primary);
    font-weight: 600;
    margin-top: 5px;
}

.btn_home_error_page:hover,
.btn_home_error_page:active {
    text-decoration: underline;
}

.error_4:first-child {
    transform: translateY(-100%);
    animation: caida1 .5s forwards;
    animation-delay: .5s;
}

.error_4:nth-child(2) {
    transform: translateY(-100%);
    animation: caida2 .5s forwards;
    animation-delay: .3s;
}

.error_4:last-child {
    transform: translateY(-100%);
    animation: caida3 .5s forwards;
    animation-delay: .1s;
}

/* NOTIFICATIONS */

.notifications_menu {
    display: block;
    margin-top: 10px;
    position: absolute;
    padding: 20px;
    max-width: 320px;
    width: 320px;
    max-height: 250px;
    min-height: 150px;
    height: 200px;
    background-color: var(--black-80);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    z-index: 100;
}

.notifications_menu.show {
    animation: show .3s forwards;
}

.notifications_menu.hidden {
    animation: hidden .3s forwards;
}

.container_title_notifications {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    margin-bottom: 10px;
}

.title_notifications {
    font-size: 14px;
    color: var(--primary);
}

.notifications_container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.notification_item {
    width: 100%;
    min-height: 40px;
    height: 40px;
    border-bottom: 1px solid var(--white-23);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--white);
    font-size: 12px;
    transition: all .3s ease-in-out;
    padding: 5px 10px;
}

.notification_item:hover {
    background-color: var(--white-08);
}

.icon_notification {
    stroke: var(--primary);
    margin-right: 10px;
}

.notification_btn_close {
    position: absolute;
    top: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--gray);
    transition: all .3s ease-in-out;
    cursor: pointer;
    background-color: transparent;
    font-size: 16px;
    border-radius: 10px;
    color: var(--white);
}

.notification_btn_close:hover {
    background-color: var(--gray-40);
}

.notification_btn_close:active {
    border: 4px solid var(--gray-40);
}

/* CARRITO DE COMPRAS */

#cart {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 60px 0;
    padding: 0 20px;
}

.title_cart {
    font-size: 24px;
    color: var(--primary);
    padding: 0 30px;
    margin-bottom: 30px;
}

.cart_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.cart_left_container {
    width: 60%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 20px;
    flex-direction: column;
    row-gap: 10px;
}

.cart_right_container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: start;
    position: sticky;
}

.cart_item {
    width: 100%;
    max-width: 456px;
    height: 100px;
    background-color: var(--white);
    box-shadow: 5px 5px 10px var(--black-14);
    border-radius: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 15px;
    position: relative;
    color: var(--black);
}

.cart_item_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.cart_item_img {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart_item_img img {
    width: auto;
    height: 100%;
    aspect-ratio: 1;
    border-radius: 10px;
}

.cart_item_details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 10px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.cart_item_title {
    font-size: 14px;
    margin-bottom: 10px;
    text-align: left;
}

.cart_item_delte_btn {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--black-27);
    text-decoration: underline;
    font-size: 12px;
}

.cart_item_delte_btn:hover {
    cursor: pointer;
}

.cart_item_counter {
    width: calc(50% - 50px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter {
    min-width: 80px;
    max-width: 80px;
    height: 30px;
    background-color: var(--black);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.counter button {
    background-color: transparent;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
    cursor: pointer;
}

.icon_cart_counter {
    transition: all .3s ease-in-out;
}

.counter button:hover .icon_cart_counter,
.counter button:active .icon_cart_counter {
    stroke-width: 3;
}

.counter span {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}

.cart_item_counter small {
    font-size: 10px;
    color: var(--black-50);
    font-weight: bold;
    margin-top: 5px;
}

.cart_item_price {
    width: calc(50% - 50px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}

.cart_box_container {
    max-width: 456px;
    width: 100%;
    height: auto;
    background-color: var(--white);
    border-radius: 20px;
    box-shadow: 5px 5px 10px var(--black-14);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    padding: 20px;
    color: var(--black);
}

.cart_box_item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart_box_item:nth-child(2) {
    margin-bottom: 30px;
}

.cart_box_item.cart_title_box {
    justify-content: start;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
}

.cart_box_subtotal {
    font-size: 16px;
    font-weight: normal;
}

.cart_box_hr {
    width: 100%;
    margin-bottom: 20px;
    color: var(--gray-hr);
}

.cart_box_total {
    font-weight: bold;
    font-size: 16px;
}

.cart_box_container .btn {
    width: 100%;
    margin-top: 40px;
}

.cart_empty {
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    font-size: 14px;
    color: var(--black);
}

.cart_empty .btn_home_error_page {
    text-decoration: underline;
}

/* SEARCH PAGE */

#search_page {
    max-width: var(--max-width);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 60px 0;
}

.products_search_left {
    width: 340px;
    height: 300px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_search_left_container {
    width: 100%;
    height: 100%;
    background-color: var(--white);
    box-shadow: 0px 0px 10px var(--black-14);
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-size: 16px;
    padding: 15px 20px;
    color: var(--black);
}

.products_search_query,
.products_search_count,
.products_search_select_container {
    width: 100%;
    margin-bottom: 10px;
}

.products_search_query p span{
    font-size: 18px;
    font-weight: bold;

}

.products_search_count p {
    color: var(--gray);
}

.products_search_select_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin-top: 20px;
}

.products_search_select_container label {
    margin-bottom: 5px;
}

.products_search_select {
    width: 100%;
    border: none;
    outline: none;
    color: var(--black);
    padding: 5px;
    cursor: pointer;
    background-color: var(--background-color);
    border-radius: 6px;
    font-size: 16px;
}

.products_search_right {
    width: 1000px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: start;
    align-content: start;
    padding: 15px;
    gap: 15px;
    color: var(--black);
}

/* USER - PRODUCTOS */
#user_page {
    min-width: 100%;
    height: 700px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
}

.user_left {
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background-panel-user);
}

.user_left_container_user {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.user_left_card_img_user {
    width: 65px;
    height: 65px;
    padding: 5px;
}

.user_left_card_info_user {
    width: calc(100% - 65px);
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 5px 10px;
    row-gap: 5px;
}

.user_left_card_title {
    text-transform: uppercase;
    font-size: 16px;
}

.user_left_card_type {
    font-size: 12px;
    color: var(--white-23);
}

.user_left_container_links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100% - 170px);
    overflow-y: auto;
}

.user_left a {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    transition: background .3s ease-in-out;
    padding: 40px;
    font-size: 16px;
    font-weight: bold;
}

.user_left a:hover {
    background-color: var(--background-color);
}

.background_select {
    background-color: var(--background-color);
}

.user_left_container_button {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_left_container_button button {
    width: 100%;
    height: 100%;
    background-color: var(--background-log-out);
    border: none;
    outline: none;
    color: var(--white);
    font-size: 16px;
    column-gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    transition: background .3s ease-in-out;
}

.user_left_container_button button:hover {
    cursor: pointer;
    background-color: var(--background-log-out-hover);
}

.user_right {
    width: calc(100% - 300px);
    height: 100%;
    padding: 20px 60px;
}

.user_page_rigth_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.user_page_rigth_header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user_page_rigth_header_container {
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

#order {
    background-color: var(--background-color);
    color: var(--white);
    border: none;
    outline: none;
    font-size: 14px;
}

.user_page_icon {
    stroke: var(--primary);
}

.user_page_right_products {
    width: 100%;
    height: 90%;
    overflow-y: auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    align-content: start;
    justify-content: start;
    gap: 20px;
}

.card_user_page {
    width: 100%;
    max-width: 320px;
    height: 100px;
    background-color: var(--black-31);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    padding: 10px;
}

.card_user_page:hover {
    background-color: var(--black-50);
}

.card_user_page_img {
    width: 100%;
    border-radius: 10px;
}

.card_user_page_container_img {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.card_user_page_container_details {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
}

.card_user_page_details {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.card_user_page_container_qnty_date {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card_user_page_title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
}

.card_user_page_price,
.card_user_page_quantity,
.card_user_page_date {
    font-size: 14px;
    color: var(--white-48);
}

.user_page_right_add_product {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(--white);
    cursor: pointer;
    transition: background .3s ease-in-out;
}

.user_page_right_add_product:hover {
    background-color: var(--primary-hover);
}

/* USER - PRODUCTOS - AGREGAR */

.addProduct_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--primary);
}

.addProduct_container_top {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}

.addProduct_container_top_left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: start;
    flex-direction: column;
}

.addProduct_container_top_right {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.selector_img_prod {
    width: 70%;
    border: 4px dashed var(--primary);
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    cursor: pointer;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    padding: 20px;
    gap: 10px;
}

.selector_img_prod.imgs {
    justify-content: start;
    align-content: start;
}

.selector_img_prod:hover {
    background-color: var(--black-14);
}

.addProduct_container_bottom {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.title_prod_add {
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: bold;
}

.appProduct_title {
    font-size: 24px;
    margin: 20px 0 40px;
}

.container_top_left_inputs {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 70%;
    margin-top: 30px;
}

.container_top_left_inputs_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.styles_input_prod {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid var(--border-input);
    outline: none;
    color: var(--white);
    background-color: var(--black-22);
    border-radius: 10px;
    font-size: 14px;
}

.styles_input_prod.textarea {
    font-family: var(--font-family);
    resize: none;
    min-height: 100px;
    height: 100px;
    max-height: 150px;
}

.styles_input_prod.textarea::-webkit-scrollbar-thumb,
.styles_input_prod.textarea::-webkit-scrollbar {
    cursor: default;
}

.styles_input_prod.name {
    margin-bottom: 25px;
}

.styles_input_prod::placeholder {
    color: var(--white-23);
}

.styles_input_prod.select option {
    background-color: var(--background-color);
}

.img_product_add {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* USER - ORDERS */

.card_orders,
.card_orders_more {
    width: 100%;
    max-width: 170px;
    height: 100px;
    background-color: var(--black-31);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: all .3s ease-in-out;
}

.card_orders:hover,
.card_orders_more:hover {
    background-color: var(--black-50);
    box-shadow: 0px 0px 10px var(--black-50);
}

.card_orders_top {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.card_orders_top_title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.orders_title,
.orders_division {
    font-size: 16px;
    font-weight: bold;
}

.orders_location {
    font-size: 10px;
    color: var(--white-23);
}

.orders_quantity {
    font-size: 10px;
    margin-top: 3px;
}

.orders_quantity span {
    font-weight: bold;
}

.card_orders_top_quantity {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.card_orders_bottom {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orders_division {
    text-transform: uppercase;
    color: var(--primary-50);
}

.card_orders_bottom span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    column-gap: 5px;
}

.orders_img_user {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    opacity: .5;
}

.orders_user {
    color: var(--white-23);
}

.card_orders_more .ver {
    color: var(--primary);
    font-weight: bold;
    font-size: 16px;
}

.card_orders_more .mas {
    font-size: 16px;
    font-weight: bold;
}

/* USER - EDITAR */

.settings_container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-y: auto;
}

.settings_container_top {
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.settings_container_top_info {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.settings_container_top_info_user {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: start;
}

.settings_img_user_container {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    justify-content: center;
}

.settings_details_user_container {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    color: var(--white-48);
    padding: 0 10px;
}

.img_user {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.settings_img_user {
    width: 100%;
    height: 100%;
}

.img_user:hover .hover_cam {
    display: flex;
}

.hover_cam {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: var(--black-50);
    transition: all .3s ease-in-out;
}

.icon_hover_cam {
    stroke: var(--gray-secondary);
}

.settings_img_user_div {
    font-size: 16px;
    font-weight: bold;
    color: var(--white-48);
}

.settings_user_id {
    font-size: 20px;
    font-weight: bold;
}

.settings_user_type {
    font-size: 14px;
    font-weight: bold;
}

.settings_container_top_info_state {
    width: 50%;
    height: 100%;
    align-items: start;
    justify-content: end;
    display: flex;
}

.settings_container_top_changes {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

.settings_container_inputs {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    padding-top: 10px;
}

.settings_input_label {
    font-size: 16px;
    font-weight: 700;
}

.settings_input {
    width: 200px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    padding: 5px;
    margin: 0;
    color: var(--white);
    border-radius: 5px;
    transition: all .3s ease-in-out;
    background-color: var(--white-08);
}

.settings_input:focus:not(:read-only) {
    border: 1px solid var(--secondary);
}

.settings_input_icon {
    stroke: var(--white-48);
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.settings_input_icon:hover {
    stroke: var(--white);
}

.settings_container_top_password {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
}

.settings_container_bottom {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.settings_date {
    color: var(--white-23);
    font-size: 14px;
}

.settings_container_bottom button {
    padding: 8px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: var(--background-log-out);
    color: var(--white);
    cursor: pointer;
    transition: all .3s ease-in-out;
    font-size: 14px;
}

.settings_container_bottom button:hover,
.settings_container_bottom button :active {
    background-color: var(--background-log-out-hover);
}

.settings_container_top_password .btn_primary {
    background-color: var(--primary-50);
}

.settings_container_top_password .btn_primary:not(:disabled):hover,
.settings_container_top_password .btn_primary:not(:disabled):active {
    background-color: var(--primary-80);
    cursor: pointer;
}

/* USER - COMPRAS */

.purchases.user_page_rigth_header_container {
    width: 100%;
    flex-direction: column;
    overflow-y: auto;
    justify-content: start;
    row-gap: 15px;
}

.purchases_container {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-31);
    padding: 10px;
    transition: all .3s ease-in-out;
}

.purchases_container:hover,
.purchases_container:active {
    background-color: var(--black-50);
}

.purchases_container_img {
    width: 5%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.purchases_container_img img {
    width: 100%;
    height: auto;
}

.purchases_container_details {
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    padding: 0 10px;
}

.purchases_container_details h4 {
    font-size: 16px;
    font-weight: bold;
}

.purchases_container small {
    font-size: 14px;
    color: var(--white-48);
}

.purchases_container_total {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
}

/* MODAL CERRAR SESION */

.container_dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-14);
    backdrop-filter: blur(10px);
    text-align: center;
    row-gap: 20px;
}

.dialog {
    width: 100%;
    max-width: 530px;
    height: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--black-50);
    border-radius: 30px;
    padding: 30px 50px;
}

.dialog_title {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

.dialog_question {
    font-size: 16px;
    font-weight: bold;
    color: var(--white);
}

.dialog_terms,
.dialog_terms a {
    font-size: 13px;
    font-weight: bold;
    color: var(--gray);
}

.dialog_terms a {
    text-decoration: underline;
}

.dialog_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn_dialog {
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    transition: all .3s ease-in-out;
    font-size: 14px;
}

.btn_cancel {
    background-color: var(--white-5);
    color: var(--white);
    cursor: pointer;
}

.btn_cancel:hover,
.btn_cancel:active {
    background-color: var(--white-15);
}

.expand {
    transform: scale(.5);
    animation: expand .3s forwards;
}

/* FOOTER */

.footer {
    width: 100%;
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 15px;
}

.footer>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    flex: 1;
}

.footer .title_footer {
    margin-top: 15px;
}

.footer p {
    font-weight: bold;
    margin-bottom: 7px;
    color: var(--black);
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: var(--black-50);
    text-decoration: underline;
    margin-bottom: 7px;
    transition: all .3s ease-in-out;
    text-align: center;
    font-size: 12px;
}

.footer a:hover {
    color: var(--black-80);
}

/* LOADING */
.loading {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border-top: 3px solid var(--primary-hover);
    animation: loading .9s infinite linear;
}

/*  ANIMACIONES DE MENU LATERAL */

@keyframes show {
    to {
        transform: translateX(0%);
    }
}

@keyframes hidden {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(-100%);
    }
}

/* ANIMACIONES DE CAIDA NUMEROS 404 */

@keyframes caida1 {
    to {
        transform: translateY(0%) translateX(30px) rotate(20deg);
    }
}

@keyframes caida2 {
    to {
        transform: translateY(0%) rotate(30deg);
    }
}

@keyframes caida3 {
    to {
        transform: translateY(0%) translateX(-55px) rotate(-15deg);
    }
}

/* ANIMACIONES DE LOADING */

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}

/* ANIMACION DE MODAL */

@keyframes expand {
    to {
        transform: scale(1);
    }
}

/* MEDIA QUERIES */

@media screen and (max-width: 1040px) {

    .header_nav_search,
    .header_nav_filters {
        display: none;
    }

    .header_btns a,
    .header_btns_user_menu {
        display: flex;
    }

    #home,
    .header {
        padding: 10px;
    }

    .addProduct_container_top {
        flex-direction: column;
        justify-content: start;
    }

    .settings_container {
        justify-content: start;
    }

    .settings_container_top {
        height: auto;
    }

    .settings_container_top_info {
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    .settings_container_top_info_state {
        justify-content: start;
        margin-top: 10px;
    }

    .settings_container_top_info_user,
    .settings_container_top_info_state {
        width: 100%;
    }

    .settings_container_top_changes {
        margin-top: 20px;
        height: 100%;
        row-gap: 10px;
    }

    .settings_container_inputs {
        flex-direction: column;
        align-items: start;
    }

    .settings_input_label {
        margin-bottom: 5px;
    }

    .settings_input {
        max-width: 340px;
        width: 100%;
    }

    .settings_container_top_password {
        height: 100%;
        flex-direction: column;
        align-items: start;
        row-gap: 10px;
        margin-top: 20px;
        justify-content: start;
        margin-top: 20px;
    }

    .settings_container_bottom button {
        padding: 15px;
    }

    .settings_img_user_container,
    .settings_details_user_container {
        width: 50%;
    }

    .settings_img_user_container {
        align-items: start;
    }

    .settings_img_user_div {
        margin-left: 10px;
    }

    .settings_details_user_container {
        align-items: end;
    }

    .settings_container_bottom {
        height: auto;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: start;
        margin-top: 20px;
        row-gap: 10px;
    }

    .addProduct_container_top_left,
    .addProduct_container_top_right {
        width: 100%;
        margin-bottom: 20px;
        justify-content: start;
        align-items: start;
    }

    .selector_img_prod {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {

    .header_temp {
        width: 100px;
    }

    .header_nav_search {
        display: none;
    }

    .header_btns_btn_login,
    .header_btns_btn_create {
        width: fit-content;
        padding-inline: 15px;
    }

    .footer {
        height: auto;
        padding: 30px 10px;
        flex-direction: column;
        align-items: center;
    }

    .footer>div {
        margin-bottom: 30px;
        align-items: center;
        text-align: center;
    }

    .login {
        padding: 10px;
        box-shadow: none;
    }

    #details {
        flex-direction: column;
        margin: 10px 0;
    }

    .details_movile {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container_details_movile {
        max-width: 450px;
        width: 100%;
        padding: 0 20px;
        flex-direction: column;
    }

    .no_movile {
        display: none;
    }

    .cart_right_container,
    .cart_left_container,
    .details_gallery,
    .details_info_box {
        width: 100%;
    }

    .cart_left_container {
        padding: 0;
        margin-bottom: 20px;
        align-items: center;
    }

    .title_cart {
        width: 100%;
        text-align: center;
    }

    .cart_container {
        flex-direction: column;
    }

    .gallery_box {
        padding: 0 20px;
        max-height: 300px;
    }

    .info_box,
    .login,
    .signup {
        background-color: transparent;
        box-shadow: none;
    }

    .cart_empty {
        align-items: center;
    }

    .container_inputs_signup {
        align-items: center;
    }

    .dialog {
        padding: 20px;
    }
}

@media screen and (max-width: 550px) {
    .login {
        border-radius: 0;
    }

    #products {
        justify-content: center;
    }

    #details {
        padding: 0 10px;
    }

    .card_product {
        width: 80%;
    }

    .container_error_page {
        height: 200px;
    }

    .description_error_page,
    .btn_home_error_page {
        font-size: 12px;
    }

    .container_error_page div {
        font-size: 10rem;
    }

    .container_inputs_signup {
        flex-direction: column;
    }

    .login,
    .signup {
        margin: 0 auto 20px;
    }
}

@media screen and (max-width: 300px) {
    .card_product {
        width: 100%;
    }
}