:root {
    --font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    --background-color: #ebebeb;

    --primary-400: #f68e41;
    --primary-800: #e45612;
    --primary-300: #f9b778;
    --primary-200: #fcd5ac;
    --primary-100: #feecd6;

    --black: #000;
    --black-10: rgba(0, 0, 0, 0.1);
    --black-14: rgba(0, 0, 0, 0.14);
    --black-22: rgba(0, 0, 0, 0.22);
    --black-27: rgba(0, 0, 0, 0.27);
    --black-31: rgba(0, 0, 0, 0.31);
    --black-50: rgba(0, 0, 0, 0.5);
    --black-80: rgba(0, 0, 0, 0.8);

    --white: #fff;
    --white-5: rgba(255, 255, 255, 0.05);
    --white-15: rgba(255, 255, 255, 0.15);
    --white-23: rgba(255, 255, 255, 0.23);
    --white-37: rgba(255, 255, 255, 0.37);
    --white-48: rgba(255, 255, 255, 0.48);
    --white-56: rgba(255, 255, 255, 0.56);
    --white-62: rgba(255, 255, 255, 0.62);
    --white-08: rgba(255, 255, 255, 0.089);
    --white-235: rgb(235, 235, 235);
    
    --background-log-out: #893030;
    --background-log-out-hover: #6b1c1c;

    --max-width: 1340px;
}